﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"">
    <h3 class="display-4">Hello and Welcome!</h3>
    <p>Welcome to the WebApp portion of the homework assignment.  For directions, please consult the README.md</p>
    <hr /> 
    
    <div>
        <h4> <i>DateTime goes here!</i> </h4>
    </div>

    <i>Link goes here when the minute is event.</i>

    <hr />
    <div>
        Thank you for very much for taking the time to complete this part of the homework assignment!
    </div>
</div>
